.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(10px);
  }
  
  .loader-gif {
    width: 30%;
    height: 30%;
   
  }
  