.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .category-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px; /* Adjust as needed */
    padding: 10px;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px; /* Adjust the margin-top value */
  }
  
  .category-button:hover {
    background-color: #f0f0f0;
  }
  
  .category-button img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  