.w-100 {
    width: 100%!important;
    height: 350px;
    border-radius: 20px;
    margin-top: 80px;
 
}
.w-top{
    width: 90%!important;
    height: 80px;
    border-radius: 20px;
}
.d-block {
    display: inline-block!important;
}