
.sliderr-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.btnn-scroll {
    position: absolute;
    background: transparent;
    color: orange;
    font-size: 30px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 0 15px rgba(0,0,0,.6));
    transition: transform 0.3s ease-in-out;
}

#prevv {
    left: 50px;
    transform: translateX(-50%);
}

#nextt {
    right: 70px;
    
    transform: translateX(50%);
}

#prevv:hover,
#nextt:hover {
    transform: scale(1.2) translateX(-50%);
}
.sliderr {

    
    width: 100%;
    overflow-x: auto;
    display: flex;
    padding: 3rem 5rem;
    scroll-behavior: smooth;
    

    .productss{
        min-width: 200px;
        background-color: rgb(255,255,255,.4);
        backdrop-filter: blur(30px);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .4);
        margin: 0 20px;

        .productt-img{
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 1rem;
            img{

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        .productt-name{
            font-weight: 400;
            color: black;
            font-size: 17px;
        }
        .productt-price{
            font-weight: 600;
            font-size: 20px;
            color: green;
        }

        .btnn-buy{
            width: 100%;
            padding: .4rem;
            background: orange;
            color: #fff;
            font-size: 20px;
            border-radius: 5px;
            margin-top: 1rem;
            transition: all .2s;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }

        }
    }
}